Temp/
Library/
obj/
docs/
*.svd
*.apk
.DS_Store

*.pidb
*.pidb.meta
*.userprefs
*.userprefs.meta
*.pdb
*.pdb.meta
*.mdb
*.mdb.meta

Carrot.unitypackage

iOSBuild/
WebBuild/
StandaloneBuild*/
FlashBuild/
Assets/AssetStoreTools*
